.navLinkWrapper{
    padding: 10px;
    display: flex;

}
.navLinkWrapper a{
    text-decoration: none;
    text-align: center;
    margin: 6px;
    color: #fff;
    padding: 5px;
    transition: all 0.3s;
    background: linear-gradient(to right bottom,rgba(255,0,0,0), rgba(255,0,0,1));
}
.navLinkWrapper a:active{
    color:#fff;
}
.navLinkWrapper a:hover{
    transform: scale(1.1);
}